/* style.css */
:root {
    /* color 변수선언 */
    --main-color: #0066ad;
    --sub-color: #30a3f3;
    --bg-color: #fff;
    --text-color: #333;
}

body {
    font-family: '맑은 고딕', sans-serif;
    color: var(--text-color);  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul { list-style-type: none; }
a { 
    text-decoration: none; 
    color: var(--text-color);
}

header {
    background: #eee;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 20px;
}

header nav ul.depth1 {
    display: flex;
}

header nav ul.depth1 > li {
    /* border: 1px solid #999; */
}

header nav ul.depth1 > li > a {
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
}

header nav ul.depth1 > li > a:hover {
    color: var(--main-color);
}

/* 2단계 hover 효과(부드럽게 transition) */
header nav .depth2 > li > a {
    display: block;
    padding: 8px;
    transition: 0.5s;
}

header nav .depth2 > li > a:hover {
    background: var(--main-color);
    color: #fff;
} 

/* 메뉴 레이아웃 */
header nav ul.depth1 > li {
    position: relative;
    width: 8em;
}

header nav {
    position: absolute;
    right: 20px;
    top: 40px;
    text-align: center;
}

header nav .depth2 {
    background: #ddd;
    width: 100%;
    margin-top: 35px;
    height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
    opacity: 0;
}

header nav .depth2.active {
    height: 120px;
    opacity: 1;
}
